<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}" />
            <link rel="stylesheet" href="{{asset('css/main.css')}}" />
            <link rel="stylesheet" href="{{asset('bundles/jquery-ui/jquery-ui.min.css')}}" />
            <link rel="stylesheet" href="{{asset('bundles/datatables/jquery.dataTables.min.css')}}" />
            <!--<link rel="stylesheet" href="{{asset('bundles/datatables/dataTables.bootstrap.min.css')}}" />-->
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/jquery-ui/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/datatables/jquery.dataTables.min.js') }}"></script>
            <!--<script src="{{ asset('bundles/datatables/dataTables.bootstrap.min.js') }}"></script>-->
        {% endblock %}
    </head>
    <body>
        {% block logo %}
            <div class="logo">
                <a href="/"><img src="{{asset('images/customer_logo.png')}}"/></a>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_USER') %}
                    <a class="cerrar" href="/logout">Cerrar Sesión</a>
                {% endif %}
            </div>
        {% endblock %}
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
    <script>
    $('#siguiente').on('click',function(){
        var paso = $('#paso').val();
        switch(paso){
            case "1":
                var form = $('#form')
                var file = $('#form_file').val()
                if(file.length>0){
                    form.submit();   
                }else{
                    $('#dialog').dialog();
                }
                break;
            case "2":
                var form = $('#form-list')
                form.submit();
                break;
            default:
                alert('Paso No definido')
                break;
        }
            
            /*var form = $("#myform")[0];
            $.ajax({
                url: "/member/upload",
                data: new FormData(form),
                type: "post",
                contenType: false,
                processData:false,
                cache:false,
                mimeType: "multipart/form-data",
                dataType:"json",
                success: function(response){
                    alert(response);
                }
            })*/
        })
    </script>
</html>