<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}" />
            <link rel="stylesheet" href="{{asset('css/main.css')}}" />
            <link rel="stylesheet" href="{{asset('bundles/jquery-ui/jquery-ui.min.css')}}" />
            <link rel="stylesheet" href="{{asset('bundles/datatables/jquery.dataTables.min.css')}}" />
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
            <link rel="shortcut icon" type="image/png" href="{{asset('images')}}/favicon.png"/>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/jquery-ui/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/datatables/jquery.dataTables.min.js') }}"></script>
            <!--<script src="{{ asset('bundles/datatables/dataTables.bootstrap.min.js') }}"></script>-->
        {% endblock %}
    </head>
    <body>
        {% block logo %}
            <div class="logo">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="/"><img src="{{asset('images/company/'~logo)}}" width="320" height="78"/></a>
            {% endif %}
            </div>
        {% endblock %}
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {% block menu %}{% endblock %}
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {% else %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% endif %}
                    {% block content %}{% endblock %}
                </div>
        </div>
        <!--<div class="row">
            <div class="footer">
                <button type="button" id="siguiente" class="btn btn-default btn-md">SIGUIENTE PASO</button>
            </div>
        </div>-->
    </body>
    <script>
    $('#siguiente').on('click',function(){
        var paso = $('#paso').val();
        switch(paso){
            case "1":
                var form = $('#form')
                var file = $('#form_file').val()
                if(file.length>0){
                    form.submit();   
                }else{
                    $('#dialog').dialog();
                }
                break;
            case "2":
                var form = $('#form-list')
                form.submit();
                break;
            default:
                alert('Paso No definido')
                break;
        }
            
            /*var form = $("#myform")[0];
            $.ajax({
                url: "/member/upload",
                data: new FormData(form),
                type: "post",
                contenType: false,
                processData:false,
                cache:false,
                mimeType: "multipart/form-data",
                dataType:"json",
                success: function(response){
                    alert(response);
                }
            })*/
        })
    </script>
</html>
