<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}" />
            <link rel="stylesheet" href="{{asset('css/main.css')}}" />
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block logo %}
            <div class="logo">
                <img src="{{asset('images/customer_logo.png')}}"/>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_USER') %}
                    <a class="cerrar" href="/logout">Cerrar Sesión</a>
                {% endif %}
            </div>
        {% endblock %}
        <div id="content">{% block content %}{% endblock %}</div>
        <div class="footer">
            {% block footer %}<button type="button" id="siguiente" class="btn btn-default btn-md">SIGUIENTE PASO</button>{% endblock%}
        </div>
    </body>
    <script>
    $('#siguiente').on('click',function(){
        var paso = $('#paso').val();
        switch(paso){
            case "1":
                window.location.href = '/member/view';
                break;
            case "2":
                alert('Asignar Bonos')
                break;
            default:
                alert('Paso No definido')
                break;
        }
            
            /*var form = $("#myform")[0];
            $.ajax({
                url: "/member/upload",
                data: new FormData(form),
                type: "post",
                contenType: false,
                processData:false,
                cache:false,
                mimeType: "multipart/form-data",
                dataType:"json",
                success: function(response){
                    alert(response);
                }
            })*/
        })
    </script>
</html>