{% extends 'header.html.twig' %}
{% use "menu.html.twig" %}
{% block content %}
{% if error %}
    <div class="alert alert-danger">{{error}}</div>
{% endif %}
    <div id="wrapper" class="fondo container-fluid">
        <h3>Cargar usuarios para asignación de bonos</h3>
        <hr>
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        {{ form_start(form) }}
        <input type="hidden" value="1" id="paso"/>
        <div class="bloque form-group formulario">
            <div class="subtitulo">Cargar lista de usuarios  para asignar Bonos</div>
                {{ form_label(form.group, null, {'label': 'Nombre de grupo:','label_attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.group, {'attr': {'class': 'form-control form-control-sm group'} }) }}
                {{ form_label(form.file, null, {'label': 'Archivo:','label_attr': {'class': 'form-label'} }) }}
                <br>
                <label class="custom-file">
                    {{ form_widget(form.file, {'attr': {'class': 'form-control form-control-sm fselect'} }) }}
                    <span class="custom-file-control"></span>
                </label>
                <br><br>
            <input type="submit" class="btn btn-fluz" value="Cargar usuarios" />
            <div class="nota">Si tienes problemas para subir tu CSV. Aseg&uacute;rate de que tu hoja de c&aacute;lculo est&eacute; formateada correctamente. Descargar <a href="{{asset('templates/members_template.csv')}}" class="link-down">CSV de Ejemplo</a></div>
        </div>
        {{ form_end(form) }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <span><b>Ejemplo del Archivo CSV:</b></span>
            <a href="{{asset('templates/members_template.csv')}}"><p><img class="img-responsive" src="{{asset('images/ejemplo_csv.png')}}" /></p></a>
            <span class="note">Nota: Archivo CSV deliminado por coma (,)</span>
        </div>
        </div>
    </div>
    <div id="dialog" title="Elije un Archivo" style="display:none;">
        <p>Aun no haz seleccionado un archivo. Por Favor elije un archivo CSV para continuar.</p>
    </div>
    <script>
       
        $('#form_file').on('change',function(){
            var route =$(this).val();
            var name = route.split("\\");
            var long = name.length;
            $('.custom-file-control').html(name[long-1]);
        })
        
        $('#comment').on('drop',function(e){
            e.preventDefault();
            var file = e.dataTransfer.files[0];
            alert(file)
            /*reader = new FileReader();
            alert(reader);
            reader.onload = function(event) {
                console.log(event.target);
                $('#comment').val("event.target.result");
                //this.innerText = event.target.result;
            };
            //console.log(file);
            reader.readAsText(file);*/
        })
        
        function getTextFromFile(fileName,callBack){
            var file = new XMLHttpRequest();
            file.open("GET", fileName, false);
            file.onreadystatechange = function ()
            {
                if(file.readyState === 4)
                {
                    if(file.status === 200 || file.status == 0)
                    {
                        var text = file.responseText;
                        callBack(text);
                    }
                }
            }
            file.send(null);
        }
        
    </script>
{% endblock %}
