{% extends 'header.html.twig' %}

{% block content %}
    <div id="wrapper" class="fondo">
        <div id="container">
            <h3>Configuración de Cuenta</h3>
            <hr>
            {{ form_start(form, {'attr': {'id': 'form', 'enctype':"multipart/form-data"}})}}
            <input type="hidden" value="1" id="paso"/>
            <div class="bloque">
                <div class="subtitulo">Cargar lista de contactos para asignar Bonos</div>
                <span class="etiqueta">Importar desde CSV</span>
                <br>
                <label class="custom-file">
                    {{ form_widget(form) }}
                    <span class="custom-file-control"></span>
                </label>
                    <div class="nota">Si tienes problemas para subir tu CSV. Aseg&uacute;rate de que tu hoja de c&aacute;lculo est&eacute; formateada correctamente. Descargar <a href="{{asset('templates/members_template.csv')}}" class="link-down">CSV de Ejemplo</a></div>
            </div>
            <div class="bloque">
                <span class="etiqueta">O Copiar/Arrastrar Archivo</span>
                <div class="form-group col-md-4 arrastra" >
                    <textarea class="form-control" disabled rows="5" id="comment" name="comment"></textarea>
                </div>
                <div class="nota">Si tienes problemas para subir tu CSV. Aseg&uacute;rate de que tu hoja de c&aacute;lculo est&eacute; formateada correctamente. Descargar <a href="{{asset('templates/members_template.csv')}}" class="link-down">CSV de Ejemplo</a></div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row blanca">
        <div class="col-md-12">
            <img class="pull-right img-responsive" src="{{asset('images/banco-de-occidente.jpg')}}" />
        </div>
    </div>
    <div class="footer">
        <button type="button" id="siguiente" class="btn btn-default btn-md">SIGUIENTE PASO</button>
    </div>
    <div id="dialog" title="Elije un Archivo" style="display:none;">
        <p>Aun no haz seleccionado un archivo. Por Favor elije un archivo CSV para continuar.</p>
    </div>
    <script>
        $('#form_file').on('change',function(){
            var route =$(this).val();
            var name = route.split("\\");
            var long = name.length;
            $('.custom-file-control').html(name[long-1]);
        })
        
        $('#comment').on('drop',function(e){
            e.preventDefault();
            var file = e.dataTransfer.files[0];
            alert(file)
            /*reader = new FileReader();
            alert(reader);
            reader.onload = function(event) {
                console.log(event.target);
                $('#comment').val("event.target.result");
                //this.innerText = event.target.result;
            };
            //console.log(file);
            reader.readAsText(file);*/
        })
        
        function getTextFromFile(fileName,callBack){
            var file = new XMLHttpRequest();
            file.open("GET", fileName, false);
            file.onreadystatechange = function ()
            {
                if(file.readyState === 4)
                {
                    if(file.status === 200 || file.status == 0)
                    {
                        var text = file.responseText;
                        callBack(text);
                    }
                }
            }
            file.send(null);
        }
        
    </script>
{% endblock %}
