{% extends 'admin/adminheader.html.twig' %}
{% use "admin/menu.html.twig" %}
{% block content %}
{% if error %}
<div class="alert alert-success">{{ error | default("")}}</div>
{% endif %}
<div class="container-fluid">
    <h3>Listado de Empresas</h3>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="float-left">
        <a href="/company/create" class="btn btn-fluz btn-xs" role="button">Nueva Empresa</a>
    </div>
    <br><br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-striped companies">
            <thead>
                <th class="encabezado">Id</th>
                <th class="encabezado">Nombre Empresa</th>
                <th class="encabezado">Nit</th>
                <th class="encabezado">Email Empresa</th>
                <th class="encabezado">Tel&eacute;fono</th>
                <th class="encabezado">Opciones</th>
            </thead>
            <tbody>
            {% for item in companies %}
                <tr>
                    <td class="fila-datos">{{item.id}}</td>
                    <td class="fila-datos">{{item.name}}</td>
                    <td class="fila-datos">{{item.nit}}</td>
                    <td class="fila-datos">{{item.email}}</td>
                    <td class="fila-datos">{{item.phone}}</td>
                    <td class="fila-datos"><a href="/company/email?cp={{item.id}}" class="btn btn-fluz btn-sm"><span class="glyphicon glyphicon-cog"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.table').DataTable({
            "ordering": true,
            "filter": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por pagina",
                "zeroRecords": "No hay registros",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros",
                "infoFiltered": "(filtrando de  _MAX_ registros)",
                "sSearch": "Buscar:",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                 },
                 "oAria": {
                     "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                     "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                 }
             }
        })
    })
</script>
{% endblock %}
