{% extends 'header.html.twig' %}
{% use "menu.html.twig" %}
{% block content %}
<div id="wrapper" class="container-fluid fondo">
    <input type="hidden" value="2" id="paso"/>
    <h3>Asignaci&oacute;n de bonos a usuarios</h3>
    <div class="subtitulo"><strong>{{ total }}</strong>&nbsp;Beneficiarios</div>
    <div class="subtitulo">Confirmar Datos para procesar Asignaciones de Bonos</div>
    <form id="form-list" name="form-list" action="/vault/assign" method="post" style="background-color: white; padding: 10px; border-radius: 5px;">
        <div class="row">
            <div class="float-left col-md-4">
                <label for="tipo-bono" class="seleccion">Elije el tipo de bono a Asignar:</label>
                <select class="asigna-bono" id="tipo-bono" name="tipo-bono" >
                    {% if bonos is empty %}
                        <option value="0" selected="selected">Sin Inventario Disponible</option>
                    {% else %}
                        <option value="0" selected="selected">Elegir bono a Asignar</option>
                        {% for bono in bonos %}
                            <option value="{{bono.code_value}}">{{bono.name}}  - $ {{bono.code_value|number_format(0,'.')}} </option>
                        {% endfor%}
                    {% endif %}
                </select>
            </div>
            <div class="float-right col-md-8">
                <table style="float:right;">
                    <tr>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span>Enviar SMS a usuarios</span>
                                    <div class="material-switch pull-right">
                                        <input id="sms" name="sms" type="checkbox"/>
                                        <label for="sms" class="label-danger"></label>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-fluz btn-fluz-largo" value="Asignar Bonos">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="container tcontainer">
        {% if total > 0 %}
            <table class="table table-striped members">
                <thead>
                    <th class="encabezado">
                        <b><input type="radio" id="todos" name="marcar"/>&nbsp;Todos&nbsp;</b>
                        <b><input type="radio" id="ninguno" name="marcar"/>&nbsp;Ninguno&nbsp;</b>
                    </th>
                    <th class="encabezado">Opciones</th>
                    <th class="encabezado">Grupo</th>
                    <th class="encabezado">Nombre</th>
                    <th class="encabezado">Email</th>
                    <th class="encabezado">Teléfono</th>
                    <th class="encabezado">Identificación</th>
                    <th class="encabezado">Total Bonos Asignados</th>
                    <th class="encabezado">C1</th>
                    <th class="encabezado">C2</th>
                    <th class="encabezado">C3</th>
                    <th class="encabezado">C4</th>
                    <th class="encabezado">C5</th>
                </thead>
                <tbody>
                    {% for group in groups %}
                        {% for member in group.members %}
                            <tr>
                                <td class="fila-datos"><p style="text-align:center;"><input type="checkbox" class="check" id="{{member.id}}" name="{{member.id}}"/></p></td>
                                <td class="fila-datos">
                                    {% if member.vault|length >0 %}
                                        <p style="text-align:center;"><a href="/member/detail?member={{member.id}}" class="btn btn-fluz btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></p>
                                    {% endif %}
                                </td>
                                <td class="fila-datos">{{ group.name }}</td>
                                <td class="fila-datos">{{ member.member_name }}</td>
                                <td class="fila-datos">{{ member.member_email }}</td>
                                <td class="fila-datos">{{ member.mobile_phone }}</td>
                                <td class="fila-datos">{{ member.identification }}</td>
                                <td class="fila-datos">{{ member.vault|length|number_format }}</td>
                                <td class="fila-datos">{{ member.optional_1 }}</td>
                                <td class="fila-datos">{{ member.optional_2 }}</td>
                                <td class="fila-datos">{{ member.optional_3 }}</td>
                                <td class="fila-datos">{{ member.optional_4 }}</td>
                                <td class="fila-datos">{{ member.optional_5 }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning"><b>No hay Datos!!</b>. No Hay usuarios disponibles en este momento. Por favor carga algunos usuarios.</div>
        {% endif %}
        </div>
    </form>
</div>
    <script>
           $(document).ready(function(){
               $('.table').DataTable({
                   "ordering": true,
                    "filter": true,
                    "language": {
                        "lengthMenu": "Mostrando _MENU_ registros por pagina",
                        "zeroRecords": "No hay registros",
                        "info": "Pagina _PAGE_ de _PAGES_",
                        "infoEmpty": "No hay registros",
                        "infoFiltered": "(filtrando de  _MAX_ registros)",
                        "sSearch": "Buscar:",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                })
           })
           
           $('#todos').on('click',function(){
                if ($(this).is(':checked')) {
                    $('.check').attr('checked',true);
                };
           })
           $('#ninguno').on('click',function(){
               if ($(this).is(':checked')) {
                   $('.check').attr('checked', false);
               }
           })
    </script>
{% endblock %}
