<p>&nbsp;</p>
<!--Header-->
<table class="table table-mail" style="font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial; width: 650px; border: 5px solid #f9f9f9; margin: 0 auto; filter: progid:DXImageTransform.Microsoft.Shadow(color=#afafaf,Direction=134,Strength=5);">
    <tbody>
        <tr>
            <td align="center">
                <table class="table" style="width: 100%;" bgcolor="#ffffff"><!--Header-->
                    <tbody>
                        <tr>
                            <td style="width: 100%; background: #FFF; padding: 7px 0;"><a style="color: #337ff1;" title="{shop_name}" href="{shop_url}"> <img class="logo" style="margin: 10px 0 5px 15px;" src="https://gallery.mailchimp.com/e63d3ec47059b6abdf6a36c8f/images/29f18bc0-adb2-4f93-b0c4-f593b796cc92.png" alt="fluz fluz" width="200" /></a></td>
                            <td style="width: 100%; background: #FFF; padding: 7px 0;"><a style="color: #337ff1;" title="{shop_name}" href="{shop_url}"> <img class="logo" style="margin: 10px 0 5px 15px;" src="https://s3.amazonaws.com/ingenio/felipeqn/FluzFluz/banco-de-occidente.jpg" alt="fluz fluz" width="200" /></a></td>
                        </tr>
                    </tbody>
                </table>
                <table style="margin-top: 10px;">
                    <tbody>
                        <tr>
                            <td style="padding: 7px 0 30px 0;" align="center"><br />
                                <table class="table" style="width: 100%;" bgcolor="#ffffff">
                                    <tbody>
                                    <tr>
                                    <table class="table" style="width: 100%;" bgcolor="#ffffff">
                                        <tbody>
                                            <tr>
                                                <span class="title" style="font-weight: 500; font-size: 28px; text-transform: uppercase; line-height: 42px; color: #333; font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial;">Hola {{name}}</span><br />
                                            </tr>
                                        </tbody>
                                    </table>
                                    </tr>
                                    <tr>
                                        <td style="padding: 7px 0;">
                                            <table class="prueba table table-recap" style="max-width: 650px; border-collapse: collapse;" bgcolor="#ffffff"><!-- Title -->
                                                <tbody>
                                                    <tr><!--th bgcolor="#f8f8f8" style="background-color:#fbfbfb;color:#333;font-size:13px;padding:10px;">Referencia</th-->
                                                        <th style="background-color: #fbfbfb; color: #333; font-size: 13px; padding: 10px;" bgcolor="#f8f8f8">Bono</th>
                                                        <th style="background-color: #fbfbfb; color: #333; font-size: 13px; padding: 10px; padding-left: 20px;" bgcolor="#f8f8f8" width="25%">Fecha Expiraci&oacute;n</th>
                                                        <th style="background-color: #fbfbfb; color: #333; font-size: 13px; padding: 10px;" bgcolor="#f8f8f8" width="17%">Precio&nbsp;Bono</th>
                                                        <th style="background-color: #fbfbfb; color: #333; font-size: 13px; padding: 10px;" bgcolor="#f8f8f8">Cantidad</th>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-top: 1px solid #333; text-align: center; color: #777; padding: 7px;">{{ bono }}</td>
                                                        <td style="border-top: 1px solid #333; text-align: center; color: #777; padding: 7px;">{{ fecha| date('Y-F-d') }}</td>
                                                        <td style="border-top: 1px solid #333; text-align: center; color: #777; padding: 7px;">$ {{ valor|number_format(0,'.') }}</td>
                                                        <td style="border-top: 1px solid #333; text-align: center; color: #777; padding: 7px;">{{ cantidad }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-top: 1px solid #333; text-align: center; color: #333; padding: 7px 0;" colspan="7">INSTRUCCIONES</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:11px; text-align: justify; color: #000; padding: 15px;" colspan="7">
                                                            <div>Para redimir tu código debes hacer lo siguiente:</div>
                                                            <ol>
                                                                <li>Dir&iacute;gete a uno de los puntos de venta que aplican para redimir tu c&oacute;digo electr&oacute;nico.</li>
                                                                <li>Pide tu producto.</li>
                                                                <li>Al momento de pagar, di que vas a redimir un c&oacute;digo Electr&oacute;nico.</li>
                                                                <li>Dicta al cajero el c&oacute;digo que recibiste a trav&eacute;s de tu correo electr&oacute;nico.</li>
                                                                <li>El cajero ingresa el n&uacute;mero del c&oacute;digo en el dat&aacute;fono Credibanco para validarlo a trav&eacute;s de la opci&oacute;n Cupones.</li>
                                                                <li>El c&oacute;digo se redime autom&aacute;ticamente por el valor completo.</li>
                                                                <li>Si tu compra supera el valor de tu c&oacute;digo, puedes dar el excedente en otro medio de pago usado por el punto de venta.</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-top: 1px solid #333; text-align: center; color: #777; padding: 7px 0;" colspan="7">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-top: 1px solid #333; text-align: center; color: #333; padding: 7px 0; text-transform: uppercase;" colspan="7">Ubicaciones</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-top: 1px solid #333; font-size:11px; text-align: center; color: #000; padding: 7px 0;" colspan="7">
                                                            <img src="https://gallery.mailchimp.com/e63d3ec47059b6abdf6a36c8f/images/82d277cb-7ad4-4d3d-a1e2-1d6d61204cc6.png" style="max-width:90px; margin:auto; padding-bottom:15px;"><br>
                                                                <strong>NIKE FACTORY I BARRANQUILLA:</strong>
                                                                CENTRO COMERCIAL ÚNICO LOCAL 3
                                                                BARRANQUILLA
                                                                <br>
                                                                <strong>NIKE STORE III:</strong>
                                                                CALLE 82 12-68
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>NIKE FACTORY AMERICAS:</strong>
                                                                CARRERA 62 9-15 LOTE 3 B
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>NIKE FACTORY TOBERIN:</strong>
                                                                CALLE 164 19 B-65
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>NIKE STORE II CALI:</strong>
                                                                CENTRO COMERCIAL CHIPICHAPE LOCAL 8-129-
                                                                CALI
                                                                <br>
                                                                <strong>NIKE FACTORY ÚNICO:</strong>
                                                                CARRERA 3 52-82 LOCAL 1032
                                                                CALI
                                                                <br>
                                                                <strong>NIKE FONTANAR:</strong>
                                                                CENTRO COMERCIAL FONTANAR LOCAL 2-03
                                                                CHÍA
                                                                <br>
                                                                <strong>NIKE STORE V:</strong>
                                                                CENTRO COMERCIAL SANTAFE LOCAL 1188
                                                                MEDELLÍN
                                                                <br>
                                                                <strong>NIKE STORE VI PEREIRA:</strong>
                                                                CENTRO COMERCIAL PARQUE ARBOLEDA LOCAL 2
                                                                PEREIRA
                                                                <br>
                                                                <br>
                                                                <img src="https://gallery.mailchimp.com/e63d3ec47059b6abdf6a36c8f/images/841b793e-a34f-4dc2-8ae1-7f37539c605b.png" style="max-width:90px; margin:auto; padding-bottom:15px;"><br>
                                                                <strong>UNDER ARMOUR PLAZA:</strong>
                                                                CC TITAN PLAZA
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>UNDER ARMOUR SANTAFE:</strong>
                                                                CC SANTAFE
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>UNDER ARMOUR FONTANAR:</strong>
                                                                CC FONTANAR
                                                                CHÍA
                                                                <br><br>
                                                                <img src="https://gallery.mailchimp.com/e63d3ec47059b6abdf6a36c8f/images/1f5cf3eb-e7ea-415a-975a-51feb65a8bf4.png" style="max-width:215px; margin:auto; padding-bottom:15px;"><br>

                                                                <strong>SPORT LINE</strong>
                                                                CC PORTAL DEL PRADO
                                                                BARRANQUILLA
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CCO BUENAVISTA II
                                                                BARRANQUILLA
                                                                <br>
                                                                <strong>CC PLAZA IMPERIAL</strong>
                                                                LOCAL 12
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC SANTAFE
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>SPORTLINE</strong>
                                                                CENTRO COMERCIAL CALIMA LOCAL A 158
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC PORTAL 80
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC SANTAFE
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC CENTRO MAYOR
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC TITAN PLAZA
                                                                BOGOTÁ, D.C.
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CLL 9 46-69
                                                                CALI
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CCO CHIPICHAPE
                                                                CALI
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC CARIBE PLAZA
                                                                CARTAGENA
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC FONTANAR
                                                                CHÍA
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CC LOS MOLINOS
                                                                MEDELLÍN
                                                                <br>
                                                                <strong>SPORTLINE AMERICA</strong>
                                                                CENTRO COMERCIAL SANTAFÉ LOCAL 2164
                                                                MEDELLÍN
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CCO PREMIUM PLAZA
                                                                MEDELLÍN
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CLL 64 1D-140
                                                                NEIVA
                                                                <br>
                                                                <strong>SPORT LINE</strong>
                                                                CLL 7A 45-135
                                                                VILLAVICENCIO

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="space_footer" style="padding: 0;">&nbsp;</td>
                                    </tr>
                                    <!--<tr>
                                        <td style="padding: 7px 0;">
                                            <table class="table" style="width: 100%;">
                                                <tbody>
                                                    <tr>
                                                        <td class="box address" style="background-color: #f8f8f8; padding: 7px 0 15px 0; text-align: center;" width="310">
                                                            <table class="table" style="width: 100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding: 7px 10px;" colspan="10">
                                                                            <p style="border-bottom: 1px solid #333; margin: 3px 0 15px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom:15px;">Extractos</p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tbody>
                                                                    <tr>
                                                                        <th colspan="4">Bono</th>
                                                                        <th colspan="2">Fecha de Expiraci&oacute;n</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="border: 1px solid #d6d4d4; padding: 5px 35px; font-size: 12px;" colspan="4">{name_product}</td>
                                                                        <td style="text-align: center; border: 1px solid #d6d4d4; padding: 0px 35px; font-size: 12px;" colspan="2">{expiration}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <table>
                                            <tr>
                                                <td><p style="padding:15px; font-size:11px; text-align:justify;">
        Fluz Fluz Colombia S.A.S. opera como proveedor de la plataforma de distribución digital de bonos electrónicos. Los bonos entregados a los tarjetahabientes de la alianza Banco de Occidente - Bodytech son propiedad del usuario final. La información de los tarjetahabientes del presente convenio es propiedad de los operadores de la alianza (Bodytech y Banco de Occidente), en ningún caso Fluz Fluz Colombia S.A.S. tiene acceso a la misma. Fluz Fluz Colombia S.A.S. no se hace responsable por la pérdida, hurto o mal uso de los códigos entregados a los tarjetahabientes. 

        Bonos electrónicos de redención total, en ningún caso se permitirá redención parcial del bono. Aplica para puntos de venta seleccionados de Nike, Under Armour y Sportline América en Colombia, consultar el listado de puntos publicado en este correo. 
        </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>